body {
  .mainEspaco {
    overflow-x: hidden;

    .bannerRotativo{
      margin: 0 auto;
      width: 90%;
      img{
        height: auto;
        width: 100%;
      }
    }
  }

  .slick-prev,
  .slick-next {
    background-color: transparent;
    align-items: center;
    border-radius: 50%;
    border: none;
    color: transparent;
    cursor: pointer;
    display: flex !important;
    font-size: 0;
    height: 30px;
    justify-content: center;
    line-height: 0;
    outline: none;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 80%;
    width: 100px;
  }

  .slick-next, .slick-prev {
    z-index: 10;
    &:before {
      content: "";
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='15' viewBox='0 0 22 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.0833 4.05006H2.79629L9.79871 0.7759C10.1654 0.604452 10.1796 0.319606 9.83033 0.139608C9.48154 -0.0401648 8.90129 -0.0473648 8.53417 0.124083L0.537167 3.86354C0.191125 4.03364 0 4.25953 0 4.50005C0 4.74035 0.191125 4.96647 0.553208 5.144L8.53463 8.8758C8.712 8.95883 8.93933 9 9.16667 9C9.40867 9 9.65067 8.9532 9.83079 8.86028C10.18 8.68028 10.1658 8.39566 9.79917 8.22421L2.76742 4.95005H21.0833C21.5893 4.95005 22 4.74845 22 4.50005C22 4.25166 21.5893 4.05006 21.0833 4.05006Z' fill='white'/%3e%3c/svg%3e ");
      width: 35px;
      height: 15px;

    }
  }

  .slick-next{
    right: 50px;
    &:before {
      transform:rotate(-180deg);
    }
  }

  .slick-prev {
    left: 50px;
    
  }
}
