$note: max-width 1024px;
$tablet: max-width 991px;
$paisagem: max-width 769px;
$celular: max-width 480px;
$iphone5: max-width 320px;

$font-Bulleto: 'Bulletto_Killa';
$font-NexaL: 'Nexa_Light';
$font-NexaB: 'Nexa_Bold';
$fontTexto: 'Andika', sans-serif;
$fontTitulo: 'Courgette', cursive;
$fontPilares: 'Dr Sugiyama', cursive;

// Cores base
$black: #000;
$white: #ffffff;

// Cores elementos
$yoga: #F7913E;
$sagrado: #A287C2;
$autoconhe: #44a6dd;